<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoordinatorType-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CoordinatorType-iOSTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CoordinatorType-macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CoordinatorType-macOSTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30EE47FD1E6278A4006992A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30EE48061E6278A4006992A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30EE481A1E6278BB006992A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30EE48221E6278BB006992A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
